@charset "UTF-8";/***0***/img,ul,ol,p,li,h1,h2,h3,h4,h5,h6,th,b,input,select{font-family:"Helvetica Neue",Arial,"Heiti TC","LiHei Pro","Prompt","Microsoft Jhenghei",sans-serif; margin: 0px; padding: 0px; list-style-type: none; font-weight: normal;font-size: 100%; border:0px;}
a{text-decoration: none;}
img{width:100%}
body{background-color: #000000; font-size: 14px;background-attachment: fixed}
h1{color:#92630f}
h2{font-size: 14px; line-height: 18px}
.center{width:100%; max-width: 1000px; margin: auto; background-color: #FFFFFF; position: relative;}
.closeBtn{margin: 2px;padding: 2px;top: 10px;right: 10px;height: 30px;width: 30px;line-height: 30px;font-size: 35px}
.bg-s{float: left; width:100%; background:url("../images/bg-s.jpg") repeat}
.title_bg{float: left; width:100%; height: auto; margin-top: 0%; background: url("../images/bg_01.jpg") no-repeat; background-size: 100%; padding-bottom: 0.8%;}
.btn_top{width:49px;height: 85px; z-index: 9999; position: fixed; bottom: 20px; right: 26px}
.btn_video{float: right; width: 30%; position: relative; margin-top: 20%; right:12%}
.btn_video img{width: 100%; display: block}
.banner_bg{float: left; width:80%; height: auto; background: url("../images/bg_02.jpg") no-repeat; background-position: top; background-size: 100%; padding: 0% 10%; margin-top: -16.2%;}
.banner{float: left; width: 96%; border: 1px solid #FFFFFF; background-color:rgba(0, 0, 0, 0.4); padding: 2% ;margin-top: 15%;}
.banner_bgin{float: left; background-color: #252525; width:96%; padding: 2%;}
.banner_bgins{display: none}
.banner li{float: left; width: 100%; margin-bottom: 2%; -webkit-transition: -webkit-transform 0.4s linear;-moz-transition: -moz-transform 0.4s linear; -o-transition: -o-transform 0.4s linear; -ms-transition: -ms-transform 0.4s linear; transition: transform 0.4s linear;}
.banner img{width: 100%; border-radius: 15px; display: block; padding: 0% 0% 0% 0%}
#bigger li:hover{-webkit-transform: scale(1.02); -moz-transform: scale(1.02); -o-transform: scale(1.02); -ms-transform: scale(1.02); transform: scale(1.02); z-index: 1; -moz-box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);-webkit-box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5);box-shadow:0px 0px 6px 1px rgba(255,255,255,0.5); border-radius: 15px; border: 1px solid #FFFFFF;}
.footer{float: left; width:100%; color:#FFFFFF; text-align: center; margin: 2% 0% 2% 0%}
@media (max-width: 800px){.title_bg{background: url("../images/bg_m_01.jpg") no-repeat; background-size: 100%; padding-bottom: 0.8%;}
.banner_bg{background: url("../images/bg_m_02.jpg") no-repeat; background-size: 100%; width: 90%; padding: 0% 5%;}
.banner_bgin{display: none}
.banner_bgins{float: left; display: block; background-color: #252525; width:96%; padding: 2%;}
.banner li{width: 100%; padding: 0% 1%;}
.btn_video{right:12%}
}
@media (max-width: 500px){.btn_top{width:10%; height:auto; right:2%; bottom:2%;}
/*.banner_bg{background: url("../images/bg_m_02.jpg") no-repeat; background-size: 100%; width: 96%; padding: 0% 2%;}*/
.banner_bg{background: url("../images/bg_m_02.jpg") no-repeat; background-size: 100%; width: 96%; padding: 0% 2%;}
.footer{font-size: 11px}
}
@media (max-width: 360px){}
